.TitleContainer {
  height: 10%;
  align-items: center;
}

.TitleElement {
  margin-left: 1em;
}

.GalaxiesSection {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}

.GalaxyImage {
  border-radius: 50%;
  width: 40%;
}

.GalaxyItem {
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.GalaxyItemArticle {
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
}

.GalaxyItemList {
  width: 100%;
}

.GalaxyPictureClass {
  justify-content: center;
}