.Container {
  height: 82vh
;}

.NavTitle {
  color: white;
}

.NavElements {
  height: 8vh;
  justify-content: space-between;
  align-items: center;
}

.InstitutionalImagesContainer {
  height: 10vh;
  align-items: center;
  background-color: #EFEFEF;
}