.Container {
  display: flex;
  height: 82vh
;}

.NavTitle {
  color: white;
  margin-left: 1em;
}

.NavElements {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
}

.NavButtons {
  margin-right: 2em;
  display: flex;
}

.InstitutionalImagesContainer {
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: #EFEFEF;
}