.ModalContainer {
  border-radius: 10px;
  flex-direction: column;
  background-color: white;
  width: 70vw;
  height: 60vh;
}

.Overflow {
  overflow-y: scroll;
}

.ModalTitle {
  width: 100%;
  height: 15%;
  align-items: center;
}

.ModalContent {
  width: 100%;
  height: 70%;
}

.ModalActions {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 15%;
}

.BigModal {
  width: 70vw;
  height: 60vh;
}

.SmallModal {
  width: 40vw;
  height: 30vh;
}