@import '~loaders.css/loaders.min.css';

html, body { min-height: 100vh; margin: 0; }

header {
  display: flex;
  background-color: #EFEFEF;
  flex-direction: column;
}

nav {
  background-color: #1A237E;
}

a, button { text-decoration: none; color: white; font-weight: bold; font-size: 0.9em; }
h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1.0em; }
a, label, h1, button, h2, h3 { margin: 0; font-family: 'Montserrat', sans-serif; }
label { font-weight: bold; font-size: 1em; }
input { border: none; background: transparent; outline: 0; margin-top: 1%; }
p { margin: 0; font-family: 'Open Sans', sans-serif; }
button { padding: 0; border: none; background: none; }
button:hover { background-color: white; }

.Flex {
  display: flex;
}

.HorizontalAndVerticalAlign {
  justify-content: center;
  align-items: center;
}

.FullWidth {
  width: 100%;
}

button {
  display: flex;
  background-color: #1A237E;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.Overlay {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.MediumButton {
  width: 15%;
  height: 50%;
}

.SmallButton {
  width: 20%;
  height: 30%;
}

.MarginLeft {
  margin-left: 1%;
}

.MarginRight {
  margin-right: 1%;
}

.MarginTop {
  margin-top: 1%;
}